.button {
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    cursor: pointer;
    border: 3px solid var(--color-icones-5);
    background-color: var(--color-icones-5);
    box-shadow: var(--color-fundo-2);
}
  
.text {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-fundo-2);
    color: white;
}
  
.arrow path {
    fill: rgb(19, 19, 19);
}
  
.button:hover .arrow {
    animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
  
@keyframes slide-in-left {
    0% {
      transform: translateX(-8px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;

    }
}
  
.button:active {
    transform: scale(0.97);
}