@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
   
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
html{
    font-family: 'poppins'sans-serif;
    font-size: 16px;
}
:root{
    --color-primary-1: #9ae6ff;
    --color-fundo-2: #96afb8;
    --color-detalhes-3: #53a1b9;
    --color-primary-4: #a586af;
    --color-icones-5: #32839a;
    --color-bg-6: #00485c;


    --color-neutra-0: #fff;
    --color-neutra-1: #0b0a18;

}
.social-midia-buttons{
    display: flex;
    gap: 18px;
}
.social-midia a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    color:rgb(50, 131, 154);;
    box-shadow: rgb(154, 230, 255);;
    transition: box-shadow 0.3 ease;
}
.social-midia a:hover{
    box-shadow: 0px 0px 12px 4px  rgb(0, 72, 92);;
}
.btn {
    padding: 1rem 2rem;
    font-weight: 700;
    background: rgb(255, 255, 255);
    color: rgb(50, 131, 154);
    cursor: pointer;
    border-radius: 0.5rem;
    border-bottom: 2px rgb(154, 230, 255);
    border-right: 2px rgb(154, 230, 255);
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, border-left, border-bottom, border-right,
      box-shadow;
  }
  .btn:hover {
    border-top: 2px solid rgb(154, 230, 255);
    border-left: 2px solid rgb(154, 230, 255);
    border-bottom: 2px solid rgb(50, 131, 154);
    border-right: 2px solid rgb(50, 131, 154);
    box-shadow: rgb(0, 72, 92,0.4) 5px 5px, rgb(0, 72, 92, O.3) 10px 10px,
    rgb(0, 72, 92,0.2)15px 15px;
  }
  
body{
    background-color: var(--color-neutra-1);
    color: var(--color-primary-4);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border: solid var(--color-bg-6);
}
.logo{
    font-size: 1.7rem;
    color: var(--color-primary-4);
    font-weight: 600;
    cursor: default;
}
.nav-bar a{
    font-size: 1.2rem;
    color: var(--color-neutra-0);
    padding: 0.5rem 1.0rem;
    transition: 0.4s;
    border: solid var(--color-bg-6);
}
.nav-bar:hover{
    color: var(--color-primary-1);
}
section{
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
    border: solid var(--color-bg-6);
}
span{
    color: var(--color-primary-1);
}